// feature phones
@media (max-width: 320px) {

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
}

// tablet
@media (min-width: 480px) {}

// laptop
@media (min-width: 768px) {
    :root {
        --fs-md: 1.125rem;
        --fs-sm: 0.875rem;
        --fs-xs: 0.813rem;
    }

    .gallery__card {
        width: 220px;
        height: 290px;
    }

    .gallery__thumbnail {
        width: 65px;
        height: 65px;
    }

    .gallery__cards,
    .gallery__thumbnails {
        width: 280px;
    }
}

// desktop and tv
@media (min-width: 1024px) {}