.gallery {
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
}

.gallery__cards::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.gallery__card {
    position: relative;
    width: 208px;
    height: 268px;
    border-radius: 3rem;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.gallery__img,
.gallery__card::after,
.gallery__data {
    position: absolute;
}

.gallery__img {
    inset: 0;
    margin: auto;
    transition: transform 0.3s;
}

.gallery__card::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: linear-gradient(180deg, hsla(0, 0, 100%, 0) 32%, hsla(0, 0, 0%, 0.3) 100%);
    top: 0;
    z-index: 1;
}

.gallery__data {
    bottom: 1.5rem;
    right: 1.75rem;
    z-index: 7;
    direction: rtl;
}

.gallery__title,
.gallery__subtitle {
    color: var(--text-color);
    font-weight: 500;
}

.gallery__title {
    font-size: var(--fs-md);
}

.gallery__subtitle {
    font-size: var(--fs-xs);
}

.gallery__overflow,
.gallery__thumbnail {
    position: relative;
}

.gallery__thumbnail {
    width: 60px;
    height: 60px;
    border-radius: 1.5rem;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: transform 0.3s;
}

.gallery__thumbnail--img {
    position: absolute;
    inset: 0;
    margin: auto;
}

.gallery__card,
.gallery-thumbnails {
    width: 260px;
}

.gallery__cards:hover .gallery__img {
    transform: scale(1.1);
}

.gallery__cards,
.gallery__thumbnails {
    width: 280px;
}