:root {
    --body-color: #f8f9fa;
    --text-dark-color: #11181c;
    --text-light-color: #868b8d;
    --text-primary: #3fcf8e;

    --persian-font: "BYekan", Arial, Helvetica, sans-serif;

    // --fs-big: ;
    // --fs-xxxl: ;
    // --fs-xxl: ;
    // --fs-xl: ;
    // --fs-lg: ;
    --fs-md: 1rem;
    --fs-sm: 0.813rem;
    --fs-xs: 0.75rem;

}