.nav {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
        list-style-type: none;
        display: flex;
        column-gap: 1.5rem;
    }

    &__link,
    &__icon {
        color: var(--text-dark-color);
    }

    &__link {
        text-decoration: none;
        font-size: 0.9rem;

        &:hover {
            color: var(--text-light-color);
        }
    }

    &__icons {
        column-gap: 2.5rem;
    }

    &__icon {
        font-size: 1.1rem;
        cursor: pointer;

        &:hover {
            color: var(--text-light-color);
        }
    }

    &__badge--position {
        position: absolute;
        left: -7px;
        top: -2px;
    }
}